<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="assets/images/icon_menu.svg" alt=""></ion-menu-button>
    </ion-buttons>  
    <div class="header-menu">
      <div class="header-text">Configuracion</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='ion_content'>

    <div class="container">
        <div class="accounts">
            
        </div>
    </div>
</ion-content>
