<ion-content class="ion_content">
  <div class="bk">
    <div class="banner">
      <div class="img_box ion-text-center">
        <img src="assets/images/logotop.png" style="    width: 49%;" />
      </div>
    </div>

    <div class="form">
      <form method="post">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-input type="text" name="username" clear-input [(ngModel)]="this.username"
              placeholder="{{'documento' | translate}}" required></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="password" name="password" clear-input [(ngModel)]="this.password" (keyup.enter)="login()"
              placeholder="{{'Contrasena' | translate}}" required></ion-input>
          </ion-item>
        </ion-list>

        <ion-toggle style="padding-left: 35px;"></ion-toggle>
        <label style="padding-bottom: 34px;
          position: relative;
          float: right;
          padding-right: 55px;
          color: #666666;
          font-size: 12px;
          margin-top: 9px;">{{'recordar' | translate}}</label>
        <ion-button size="large" shape="block" class="btn" (click)="login()">{{'iniciar_session' | translate}}
        </ion-button>
      </form>
    </div>

  </div>
</ion-content>
