ion-header ion-toolbar ion-title {
	font-size: 1.15rem;
	font-weight: 400;
}

.ion_content {
    --background: url('../../assets/images/bkg.png') no-repeat center center fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
	height: 160px;
	display: flex;
	align-items: flex-start;
    margin-top: 30%;
	h2 {
		margin: 0;
		color: var(--white);
		align-self: center;
		width: 100%;
		font-size: 1.6rem;
		font-weight: 500;

		span {
			font-weight: 400;
		}
	}
}

.form {
	margin-top: 30px;

	ion-list {
		padding-bottom: 8px;
	}

	h2 {
		margin: 0;
		color: var(--text-light);
		font-size: .95rem;
		margin-bottom: 30px;
	}

}

.thumb_impression {
	padding-top: 40px;
	width: calc(100% - 64px);
	margin: 0 auto;

	h2 {
		color: var(--text-dark);
		margin: 0;
		font-size: .95rem;
		margin-bottom: 30px;
	}

	.fingerprint {
		width: 47px;
		margin: 0 auto;
	}

}

.hide {
    display: none!important;
}

.toolbar-container.sc-ion-toolbar-md.sc-ion-toolbar-md-s {
	min-height: auto!important;
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--white: #fff;
	--primary: #058be6;
	--secondary: #39c526;
	--transparent: rgba(0, 0, 0, 0);
	--text-light: #9a9a9a;
	--text-dark: #343434;
	--warning: #f7b924;
	--text-black: #0e0e0f;
	--bg-color: #f3f5f5;
	--red_color: #df1515;
}

.toast-scheme
{
    --background: #C92340;
    color: white;
    font-size: 12px;
}

body{
	margin-top: constant(safe-area-inset-top);
	//margin-top: env(safe-area-inset-top);
	margin-bottom: 1vh;
 }


.bg_color {
	--background: var(--bg-color);
}

.text-theme {
	color: var(--primary);
}

.d-flex {
	display: flex !important;
	align-items: center;
	width: 100%;

	.end {
		margin-left: auto !important;
		margin-right: 0 !important;
		display: block;
	}
}

.center_img {
	position: relative;
	overflow: hidden;

	img {
		&.crop_img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: -50% !important;
			right: -50% !important;
			margin: auto;
		}

	}
}

.button {
	&.btn {
		width: 100%;
		font-size: .95rem;
		font-weight: 400;
		letter-spacing: 0px !important;
		height: 45px;
		--background: var(--secondary);
		text-transform: none;
		color: var(--white);
		margin: 0;
		--box-shadow: none;
		padding: 0;
		text-transform: none;

		ion-icon {
			font-size: 1.4rem;
		}

		&:hover:not(.disable-hover) {
			--background: var(--secondary);
		}

		//		&.button-outline {
		//			--background: var(--white);
		//			--border-color: var(--primary);
		//			--border-width: 1px;
		//			letter-spacing: 0 !important;
		//			font-weight: 600;
		//			font-size: .95rem;
		//			letter-spacing: 1.3px !important;
		//
		// 
		//
		//			&:hover:not(.disable-hover) {
		//				--background: var(--transparent);
		//			}
		//		}

		&.button-round {
			--border-radius: 50px !important;
		}

		&.button-block {
			--border-radius: 0px !important;
		}

	}
	&.btnred {
		width: 100%;
		font-size: .95rem;
		font-weight: 400;
		letter-spacing: 0px !important;
		height: 45px;
		--background: var(--red_color);
		text-transform: none;
		color: var(--white);
		margin: 0;
		--box-shadow: none;
		padding: 0;
		text-transform: none;

		ion-icon {
			font-size: 1.4rem;
		}

		&:hover:not(.disable-hover) {
			--background: var(--red_color);
		}

		//		&.button-outline {
		//			--background: var(--white);
		//			--border-color: var(--primary);
		//			--border-width: 1px;
		//			letter-spacing: 0 !important;
		//			font-weight: 600;
		//			font-size: .95rem;
		//			letter-spacing: 1.3px !important;
		//
		// 
		//
		//			&:hover:not(.disable-hover) {
		//				--background: var(--transparent);
		//			}
		//		}

		&.button-round {
			--border-radius: 50px !important;
		}

		&.button-block {
			--border-radius: 0px !important;
		}

	}
}

ion-header {
	z-index: 999;

	&::after {
		display: none !important;
	}

	ion-toolbar {
		--background: var(--primary);
		display: flex;
		align-items: center;
		//min-height: 60px !important;
		height: auto;
		overflow: visible !important;
		--border-width: 0 !important;

		ion-buttons {
			position: relative !important;
			margin: 0;
			--padding-end: 0 !important;
			--padding-start: 0 !important;

			ion-back-button {
				//				--color: var(--white) !important;
				--color: var(--white) !important;
				--icon-font-size: 1.3rem !important;
				--padding-end: 0 !important;
				--padding-start: 0 !important;
			}

			&.ios {
				padding: 0 10px !important;
			}

		}

		ion-title {
			color: var(--white);
			padding: 0 0px !important;
			padding-right: 15px !important;
			text-align: justify;
			font-size: 1.1rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			position: relative !important;
			overflow: visible !important;
			line-height: 60px;

			.end {
				margin-right: 0;
				margin-left: auto;
				display: block;
			}

		}


	}

	&.bg-transparent {
		ion-toolbar {
			--background: var(--transparent);
			--ion-color-base: transparent !important;
		}
	}
}


.form {
	display: block;
	position: relative;
	margin: 0 auto;
	width: calc(100% - 64px);

	ion-list {
		background: var(--transparent) !important;
		margin: 0;
		padding: 0;
	}

	ion-item {    
		padding: 0 17px;
		min-height: unset !important;
		box-shadow: none !important;
		--background: var(--transparent);
		background: var(--white);
		align-items: flex-start;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		box-shadow: none !important;
		--min-height: 43px;
		background: #f3f5f5;
		border-radius: 8px;
		margin-bottom: 8px;


		ion-label {
			color: var(--text-black) !important;
			margin: 0;
			letter-spacing: 0;
			max-width: 100% !important;
			min-width: 100% !important;
			width: 100% !important;
			-webkit-box-flex: unset !important;
			flex: unset !important;
			font-weight: 700 !important;
			font-size: 1.35rem !important;
			padding-bottom: 13px;
		}

		ion-textarea,
		ion-input {
			--padding: 0 !important;
			font-size: .8rem !important;
			font-weight: 500 !important;
			--padding-start: 0 !important;
			--padding-end: 0 !important;
			--padding-top: 0 !important;
			--padding-bottom: 0px !important;
			color: var(--text-black);
			--placeholder-color: var(--text-light) !important;
			--placeholder-opacity: 1;
			--placeholder-font-weight: 500 !important;
			letter-spacing: 0px;

			input {
				--padding: var(--no-padding);

				&.native-input {
					--padding: var(--no-padding);
				}
			}

		}

		&.item-select {
			ion-select {
				width: 100%;
				max-width: unset;
				letter-spacing: .5px;
				padding: 0;
				font-size: 1.2rem !important;
				font-weight: 400 !important;
				--placeholder-color: var(--text-light) !important;
				--placeholder-opacity: 1;
				--placeholder-font-weight: 400 !important;
			}
		}
	}

	ion-row {
		margin: 0 -5px;
	}
}

.action-sheet-wrapper {
	--background: var(--bg-color);

	.action-sheet-container {
		.action-sheet-group {
			.action-sheet-button {
				padding: 0 20px;
				color: var(--text-dark);
				font-size: 1.2rem !important;

				&.action-sheet-selected {
					color: var(--primary);
				}
			}

			&.action-sheet-group-cancel {
				background: var(--primary) !important;
				height: 53px;


				.action-sheet-button {
					.action-sheet-button-inner {
						font-size: 1.1rem;
						font-weight: 500;
						letter-spacing: 1px !important;
						display: block;
						text-align: center;
						line-height: 53px;
						color: var(--white);
					}
				}

			}
		}
	}
}

html[dir="rtl"] {

	.d-flex .end {
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	ion-header ion-toolbar ion-title {
		padding-right: 0px !important;
		padding-left: 15px !important;
	}

	app-home {
		.home_menu ion-row ion-col {

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(7),
			&:nth-child(8) {
				&::after {
					right: unset !important;
					left: 0 !important;
				}
			}
		}

		ion-header .banner .scroll_container .item_scroll {
			&:first-child {
				margin-left: 4px !important;
				margin-right: 10px !important;
			}

			&:last-child {
				margin-right: 4px !important;
				margin-left: 10px !important;
			}
		}
	}

	app-fund-transfer-options {
		ion-list ion-item .icon_box {
			margin-right: 0px !important;
			margin-left: 20px !important;
		}
	}
	app-account{
		ion-header .banner .img_box{
			margin-right: 0px !important;
			margin-left: 24px !important;
		}
	}
	app-profile{
		.profile_img_box ion-icon{
			right: unset!important;
			left: 1px!important;
		}
	}
}

.contact-modal .modal-wrapper {
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 20% 10% !important;
    --height: 27% !important;
    padding: 20% 10% !important;
 }

 ion-textarea.textareagrande.ng-untouched.ion-untouched.ion-pristine textarea {
    height: 100%!important;
 }

 ion-textarea.textareagrande.ng-untouched.ng-valid.sc-ion-textarea-md-h.sc-ion-textarea-md-s.md.hydrated.ng-dirty.ion-untouched.ion-valid.ion-dirty textarea {
    height: 100%!important;
}
textarea.native-textarea.sc-ion-textarea-md {
    height: 100%!important;
} 

.modal-fullscreen {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.alert-checkbox-group.sc-ion-alert-md {
    max-height: 100%!important;
}