<ion-tabs>
  <div class="footer-menu">
    <ion-tab-button tab="tab1" class="footer-elem {{this.main.tabSelected == 'tab1' ? 'active' : ''}}" (click)="tabChange('tab1')">
      <img src="assets/images/icon_my_products_{{this.main.tabSelected == 'tab1' ? 'green' : 'green'}}.svg" alt="">
      <span>Mis productos</span>
    </ion-tab-button>
    <ion-tab-button class="footer-elem" tab="tab2" class="footer-elem {{this.main.tabSelected == 'tab2' ? 'active' : ''}}" (click)="tabChange('tab2')">
      <img src="assets/images/icon_transactions_{{this.main.tabSelected == 'tab2' ? 'green' : 'gray'}}.svg" alt="">
      <span>Transacciones</span>
    </ion-tab-button>
    <ion-tab-button class="footer-elem" tab="tab3" class="footer-elem {{this.main.tabSelected == 'tab3' ? 'active' : ''}}" (click)="tabChange('tab3')">
      <img src="assets/images/icon_offers_{{this.main.tabSelected == 'tab3' ? 'green' : 'gray'}}.svg" alt="">
      <span>Ofertas</span>
    </ion-tab-button>
    <ion-tab-button class="footer-elem" tab="tab4" class="footer-elem {{this.main.tabSelected == 'tab4' ? 'active' : ''}}" (click)="tabChange('tab4')">
      <img src="assets/images/icon_config_{{this.main.tabSelected == 'tab4' ? 'green' : 'gray'}}.svg" alt="">
      <span>Configuración</span>
    </ion-tab-button>
  </div>
</ion-tabs>
