<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="assets/images/icon_menu.svg" alt=""></ion-menu-button>
    </ion-buttons>
    <div class="header-menu">
      <div class="header-text">{{"mis_productos" | translate}}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='ion_content'>

  <div class="container">
    <div class="accounts">
      <span class="accounts-number green" data-counter="2">{{"Cuentas" | translate}}</span>
      <div class="accounts-block green" *ngFor="let debito of debitCards">
        <div class="accounts-name">
          <img src="assets/images/icon_account_gray.svg" alt="">
          <span>{{debito.alias}} - {{_lastfour(debito.number)}}</span>
        </div>
        <div class="accounts-balance" data-text="Balance Disponible">
          <div class="accounts-info" data-moneda="RD$" data-decimal=".00">{{debito.availableAmount   | number: '.0'}}
          </div>
        </div>
      </div>
    </div>
    <div class="accounts">
      <span class="accounts-number blue" data-counter="2">{{"Tarjetas" | translate}}</span>
      <div class="accounts-block blue" *ngFor="let credito of creditCards">
        <div class="accounts-name">
          <img src="assets/images/icon_account_gray.svg" alt="">
          <span>{{credito.alias}} - {{_lastfour(credito.number)}}</span>
        </div>
        <div class="accounts-balance" data-text="Balance Disponible">
          <div class="accounts-info" data-moneda="RD$" data-decimal=".00">{{credito.availableAmountRD   | number: '.0'}}
          </div>
          <div class="accounts-info" data-moneda="US$" data-decimal=".00">{{credito.availableAmountUS   | number: '.0'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
