// Colores
$background: whitesmoke;
$green: #48b741;
$blue: #004779;

body,
html {
    height: 100%;
}
* {
    box-sizing: border-box;
}
.container {
    background-color: $background;
    padding: 0;
    margin: 0;
    font-family: trebuc,Trebuchet MS,Helvetica,Arial,sans-serif!important;
    color: #717171;
}

.accounts-balance {
    text-align: left;
}
.accounts {
    text-align: left;
}

ion-toolbar{
    margin-top: 9px;
    padding: 8px;
    background-color: #fff;
    border-bottom: 4px solid #48b741;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
}
.header {
    // &-menu {
    //     padding: 20px;
    //     background-color: #fff;
    //     border-bottom: 4px solid $green;
    //     position: sticky;
    //     top: 0;
    //     display: flex;
    //     justify-content: center;
    //     z-index: 999;
    // }

    &-img {
        position: absolute;
        left: 20px;
    }
    &-text {
        font-weight: 700;
        font-size: 14px;
    }

}
.container {
    padding: 20px 20px 78px;
}
.accounts {
    &:not(:first-child) {
        margin-top: 24px;
    }
    &-number {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        &::after {
            content: "(" attr(data-counter) ")";
            display: -inline-block;
            margin-left: 4px;
        }
        &.green {
            color: $green;
        }
        &.blue {
            color: $blue;
        }
    }
    &-block {
        margin-top: 20px;
        background: #fff;
        padding: 15px;
        border-radius: 4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
        &.green {
            border-left: 4px solid $green;
        }
        &.blue {
            border-left: 4px solid $blue;
        }
    }
    &-name {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img {
            max-height: 34px;
        }
        span {
            margin-left: 15px;
            font-size: 13px;
            font-weight: 500;
        }
    }
    &-balance {
        &::after {
            content: attr(data-text);
            display: block;
            opacity: 0.7;
            font-size: 10px;
        }
    }
    &-info {
        font-size: 21px;
        font-weight: 500;
        color: #626262;
        &::before {
            content: attr(data-moneda);
            display: inline-block;
            font-size: 13px;
            margin-right: 4px;
        }
        &::after {
            content: attr(data-decimal);
            display: inline-block;
            font-size: 13px;
        }
    }
}
.footer {
    &-menu {
        padding: 8px 20px;
        background-color: #fff;
        border-top: 4px solid $green;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    &-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 26px;
        }
        span {
            font-size: 10px;
            margin-top: 8px;
        }
        &.active {
            span {
                color: $green;
            }
        }
    }
}
.backdrop {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
}
.sidemenu {
    width: 70%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    &-header{
        padding: 11px 20px;
        background: #fff;
        border-bottom: 4px solid $green;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 999;
        img {
            height: 34px;
            width: 34px;
            object-fit: cover;
            margin-right: 12px;
        }
        &-text {
            font-weight: 500;
            font-size: 16px;
        }
    }
    &-items {
        padding: 45px 20px;
        & + & {
            border-top: 1px solid #c2c2c2;
        }
        .item {
            display: flex;
            align-items: center;
            padding: 10px 0px;
            text-decoration: none;
            color: #717171;
            img {
                margin-right: 14px;
                max-height: 24px;
            }
            span {
                font-size: 14px;
            }
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}
.close-session {
    padding: 20px;
    width: 100%;
    background: #fff;
    button {
        display: block;
        width: 100%;
        text-transform: uppercase;
        color: $green;
        font-size: 12px;
        font-weight: 700;
        padding: 12px;
        text-align: center;
        background: white;
        border: 1px solid $green;
        border-radius: 4px;
    }
}