<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <div class="backdrop"></div>
        <div class="sidemenu" *ngIf="this.main.getUserSession('access_token')">
          <div class="sidemenu-header">
            <img src="{{this.photo}}" alt="">
            <span class="header-text">{{this.name}} {{this.lastName}}</span>
          </div>
          <div class="sidemenu-items">
            <a (click)="tab1()" class="item">
              <img src="assets/images/icon_my_products_green.svg" alt="">
              <span>Mis productos</span>
            </a>
            <a (click)="tab2()" class="item">
              <img src="assets/images/icon_transactions_green.svg" alt="">
              <span>{{"Transacciones"|translate}}</span>
            </a>
            <a (click)="tab3()" class="item">
              <img src="assets/images/icon_offers_green.svg" alt="">
              <span>{{"Ofertas"|translate}}</span>
            </a>
            <a (click)="tab4()" class="item">
              <img src="assets/images/icon_config_green.svg" alt="">
              <span>{{"configuracion"|translate}}</span>
            </a>
          </div>
          <div class="sidemenu-items">
            <a (click)="tab1()" class="item">
              <img src="assets/images/icon_contact.svg" alt="">
              <span>{{"Contactos"|translate}}</span>
            </a>
            <a (click)="tab1()" class="item">
              <img src="assets/images/icon_branches.svg" alt="">
              <span>{{"Sucursales"|translate}}</span>
            </a>
          </div>
          <div class="close-session">
            <button (click)="logout()">Cerrar Sesión</button>
          </div>
        </div>
        <div class="sidemenu" *ngIf="!this.main.getUserSession('access_token')">
          <div class="sidemenu-header">
            <img src="assets/images/logotop.png" alt="" style="    width: 206px;
                height: 78%;">
          </div>
          <div class="sidemenu-items">
            <a href="#" class="item">
              <img src="assets/images/icon_my_products_green.svg" alt="">
              <span>{{"Contacto"|translate}}</span>
            </a>
            <a href="#" class="item">
              <img src="assets/images/icon_transactions_green.svg" alt="">
              <span>{{"Sucursales"|translate}}</span>
            </a>
          </div>

        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
