

// Colores
$background: whitesmoke;
$green: #48b741;
$blue: #004779;


.backdrop {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
}
.sidemenu {
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    &-header{
        padding: 11px 20px;
        background: #fff;
        border-bottom: 4px solid $green;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 999;
        img {
            height: 34px;
            width: 34px;
            object-fit: cover;
            margin-right: 12px;
        }
        &-text {
            font-weight: 500;
            font-size: 16px;
        }
    }
    &-items {
        padding: 45px 20px;
        & + & {
            border-top: 1px solid #c2c2c2;
        }
        .item {
            display: flex;
            align-items: center;
            padding: 10px 0px;
            text-decoration: none;
            color: #717171;
            img {
                margin-right: 14px;
                max-height: 24px;
            }
            span {
                font-size: 14px;
            }
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}
.close-session {
    padding: 20px;
    width: 100%;
    background: #fff;
    button {
        display: block;
        width: 100%;
        text-transform: uppercase;
        color: $green;
        font-size: 12px;
        font-weight: 700;
        padding: 12px;
        text-align: center;
        background: white;
        border: 1px solid $green;
        border-radius: 4px;
    }
}

