/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--white: #fff;
	--primary: #058be6;
	--secondary: #39c526;
	--transparent: rgba(0, 0, 0, 0);
	--text-light: #9a9a9a;
	--text-dark: #343434;
	--warning: #f7b924;
	--text-black: #0e0e0f;
	--bg-color: #f3f5f5;
	--red_color: #df1515;
}

.toast-scheme
{
    --background: #C92340;
    color: white;
    font-size: 12px;
}

body{
	margin-top: constant(safe-area-inset-top);
	//margin-top: env(safe-area-inset-top);
	margin-bottom: 1vh;
 }
 
 .header-text {
    text-align: center;
}
